


body 
{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Robot", "Arial", sans-serif;
    letter-spacing: 0.5;
}

ul li 
{
    list-style: none;
}
.site-header
{
    display: flex;
    align-items: center;
    justify-content: space-around;

   background-color: #fff;   
}

.sity-header img 
{
    width: 227px;
    height: 59.18px;

}
.navbar-link
{
    display: flex;
    align-items:center;
}
.sitenav-list
{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.sitenav-link
{
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing:0.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.main-link
{
    background-color: rgba(255, 117, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

}
.hero
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: rgba(37, 36, 32, 1);
    overflow: hidden;

}
.orange-line
{
    width: 80px;
    margin-left: 150px;
    margin-top: 20px;
    
    border: 1px solid rgba(255, 117, 0, 1);
}
.hero-content
{
    
      background-color:rgba(37, 36, 32, 1);
}
.hero-content h2 
{
    width: 339px;
    font-family: Roboto Condensed;
    font-size: 40px;
    font-weight: 700;
    text-align: left;    
}
.hero-content p 
{
    width: 390px;

}
.hero-img
{
    width: 510px;
    height: 510px;
    top: 137px;
    left: 760px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.features-heading
{
    width: 435px;
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
    text-align: left;


}
.featurs ul li h2
{
    width: 170px;
    height: 32px;  
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
    text-align: left;
    
}
.features ul 
{
    display: flex;
    justify-content: space-around;
}
.features-info
{
    width: 270px;
    font-weight: 400;
}
.promo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(37, 36, 32, 1);
    color: rgba(255, 255, 255, 1);
}
.promo img 
{
    border-radius: 10px;
 
}
.promo-content
{
    width: 440px;
}

.promo h2 
{
    font-family: Roboto Condensed;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    width: 450px;
    height: 96px;
}
.promo p 
{
    width: 440px;
    height: 108px;
}

.site-footer
{
    background-color: rgba(248, 248, 248, 1);
}
.site-footer-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer-top ul
{
        display: flex;

}
.site-footer-line
{
    background-color: rgba(37, 36, 32, 0.5);
    height: 2px;
}
.footer-link
{
    display: flex;
    justify-content: space-around;
}
.footer-link  a 
{
    font-weight: 400;
    text-decoration: none;
}

