

*:focus
{
    outline: 5px dotted  rgba(255, 117, 0, 1) ;
    outline-offset: 3px;

}
body 
{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Robot", "Arial", sans-serif;
    letter-spacing: 0.5;
}

ul li 
{
    list-style: none;
}
.site-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid rgba(255, 117, 0, 1) ;
    background-color: #fff; 
    padding-top: 16px;  
    padding-bottom: 16px;  
}
.logo-link
{
    transition:opacity 0.4s ease;
}
.logo-link:active
{
   opacity:0.5;
}

.navbar-link
{
    display: flex;
    align-items:center;
}
.sitenav-list
{
    display: flex;
    padding: 0;
}
.sitenav-link
{
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing:0.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease, opacity 0.4s ease;
}
.sitenav-link:hover
{
    color:  rgba(255, 117, 0, 1);
}
.sitenav-link:active
{
    opacity: 0.6;
}
.main-link
{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    font-weight: bold;
    background-color: rgba(255, 117, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: opacity 0.4s ease;
}
.main-link:hover
{
    opacity: 0.8;
}
.main-link:active
{
    opacity: 0.6;
}
.hero
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
    background-color: rgba(37, 36, 32, 1);
    overflow: hidden;

}
.orange-line
{
    width: 80px;
    margin-left: 150px;
    border: none;
    margin: auto;
    border: 1px solid rgba(255, 117, 0, 1);
}
.hero-content
{
    
      background-color:rgba(37, 36, 32, 1);
}
.hero-content h2 
{
    width: 339px;
    font-family: Roboto Condensed;
    font-size: 40px;
    font-weight: 700;
    text-align: left;    
}
.hero-content p 
{
    width: 390px;

}
.hero-img
{
    width: 510px;
    height: 510px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.features
{
    padding-top: 210px;
    padding-bottom: 210px;
}
.features-heading
{
    width: 435px;
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
    text-align: left;


}
.featurs ul li h2
{
    width: 170px;
    height: 32px;  
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
    text-align: left;
    
}
.features ul 
{
    display: flex;
    justify-content: space-between;
}
.features-info
{
    width: 270px;
    font-weight: 400;
}
.promo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(37, 36, 32, 1);
    color: rgba(255, 255, 255, 1);
}
.promo img 
{
    /* width: 440px;
    height: 440px; */
    border-radius: 12px;
 
}
.promo-content
{
    width: 440px;
}

.promo h2 
{
    font-family: Roboto Condensed;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    width: 450px;
    height: 96px;
}
.promo p 
{
    width: 440px;
    height: 108px;
    padding-bottom: 20px;
}

.site-footer
{
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: rgba(248, 248, 248, 1);
}
.site-footer-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer-top ul
{
        display: flex;
        align-items: center;

}
.site-footer-socials
{
    transition: opacity 0.4s ease, color 0.4s ease;
}
.site-footer-socials:hover
{
   color: rgba(255, 117, 0, 1);
}
.site-footer-socials:active
{
   opacity: 0.6;
}
.site-footer-line
{
    border: none;
    background-color: rgba(37, 36, 32, 0.5);
    height: 2px;
    padding: 0;
}
.footer-link
{
    display: flex;
    padding: 0;
}
.footer-link  a 
{
    font-weight: 400;
    text-decoration: none;
    transition: color 0.4s ease, opacity 0.4;
}
.footer-link a:hover
{
    color: rgba(255, 117, 0, 1);
}
.footer-link a:active
{
    opacity: 0.6;
}
